In [1]:
5+6

11

In [2]:
900/7

128.57142857142858

In [3]:
2*2*2

8

In [4]:
2**3

8

In [5]:
10%2

0

In [6]:
10%3

1

Float

In [7]:
0.4*0.3

0.12

In [8]:
0.4 * 3

1.2000000000000002

Variables

In [9]:
x=3
y=4
x+y

7

In [10]:
r= input("r:")
r

r:5

'5'

In [11]:
r*2

'55'

In [12]:
r+2

TypeError: can only concatenate str (not "int") to str

r was a string

In [13]:
type(r)

str

In [14]:
type(pi)

NameError: name 'pi' is not defined

In [15]:
pi=3.14
type(pi)

float

In [16]:
r_int = int(r)

In [17]:
r_int*2

10

casting

In [18]:
'hello'

'hello'

In [19]:
"hello"

'hello'

In [20]:
x="hello world"

In [21]:
x

'hello world'

In [22]:
len(x)

11

In [23]:
print(x)

hello world

escape characters

In [24]:
print("print \ hello")

print \ hello

In [25]:
print("print \n hello")

print
 hello

In [26]:
"x" * 10

'xxxxxxxxxx'

In [27]:
dict={"key1":100, "key2":[10,20,30], "key3":{"a":5}}

In [28]:
dict

{'key1': 100, 'key2': [10, 20, 30], 'key3': {'a': 5}}

In [1]:
print("abc")

abc

In [2]:
print('abc')

abc

In [3]:
my_string = "James Hetfield"

In [4]:
my_lettter = my_string[4]

In [6]:
my_lettter

's'

In [7]:
my_new_string = "QuentinTarantino"

In [8]:
my_new_string[4:8]

'tinT'

In [9]:
my_last_string = "Afyonkarahisarlılaştıramadıklarımızdanmısınız"

In [10]:
my_last_string[:-1]

'Afyonkarahisarlılaştıramadıklarımızdanmısını'

In [11]:
my_last_string[::-1]

'zınısımnadzımıralkıdamarıtşalılrasiharaknoyfA'

In [12]:
type(3+10.2)

float

In [13]:
my_list_1 = [1,2,"a"]

In [14]:
my_list_2=[]
my_list_2.append(1)

In [15]:
my_list_2.append(2)
my_list_2.append("a")

In [16]:
my_list_3 = list()

In [17]:
my_list = [1,4,[2,3,"a"]]

In [18]:
my_list[2][2]

'a'

In [19]:
my_dictionary = {"k1":2, "kk":[4,{"kkkk":"b"}]}

In [20]:
my_dictionary["kk"][1]["kkkk"]

'b'

In [21]:
x=5
y=4
x<y

False

In [22]:
2>1 and 3>2

True

In [23]:
not 10 == 10

False

In [24]:
10 == 10

True

In [25]:
if 3>2 :
    print("sada")

sada

In [26]:
if 3>4:
    print("asda")
else:
    prnt("aaa")

NameError: name 'prnt' is not defined

In [27]:
if 3>4:
    print("asda")
else:
    print("aaa")

aaa

In [28]:
if 3<6 or 3<77:
    print("asd")

asd

In [29]:
if "hello" in "myhello":
    print("yes")

yes

In [30]:
if 200 in my_dictionary.values():
    print("true")
else:
    print("false")

false

In [31]:
my_dictionary = {"k1": 100, "k2":200, "k3":300}
if 200 in my_dictionary.values():
    print("true")
else:
    print("false")

true

In [32]:
my_list = [1,2,3,4,5]

In [33]:
for number in my_list:
    print(number)

1
2
3
4
5

In [34]:
for item in my_list:
    new_number = item * 5
    print(new_number)

5
10
15
20
25

In [35]:
for number in my_list:
    if number % 2 == 0:
        print(number)

2
4

In [36]:
if 2 in my_list:
    print("true")

true

In [37]:
for num in my_list:
    if num == 2:
        print("true")

true

In [38]:
my_string = "James Hetfield"

In [39]:
for letter in my_string:
    print(letter)

J
a
m
e
s

H
e
t
f
i
e
l
d

In [40]:
my_tuple = (1,2,3)

In [41]:
for item in my_tuple:
    print(item * 5 - 10)

-5
0
5

In [42]:
my_new_list = [("a","b"),("c","d"),("e","f"),("g","h")]

In [43]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')
('e', 'f')
('g', 'h')

In [44]:
for (x,y) in my_new_list:
    print(x)
    print(y)

a
b
c
d
e
f
g
h

In [45]:
my_tuple_list = [(0,1,2),(3,4,5),(9,10,11)]

In [46]:
a = 0

In [47]:

while a <= 5:
    print("hello")
    a = a + 1

hello
hello
hello
hello
hello
hello

In [48]:
my_list = [1,2,3,4,5]

In [49]:
while 3 in my_list:
    print("3 in my list")
    my_list.pop()

3 in my list
3 in my list
3 in my list

In [50]:
number = 0

In [51]:
while number < 5:
    #if number == 5:
    #    break
    print(number)
    number += 1

0
1
2
3
4

In [52]:
p = 0

In [53]:

while p < 20:
    #print("value p: " + str(p))
    print(f"value p p p: {p}")
    p += 1

value p p p: 0
value p p p: 1
value p p p: 2
value p p p: 3
value p p p: 4
value p p p: 5
value p p p: 6
value p p p: 7
value p p p: 8
value p p p: 9
value p p p: 10
value p p p: 11
value p p p: 12
value p p p: 13
value p p p: 14
value p p p: 15
value p p p: 16
value p p p: 17
value p p p: 18
value p p p: 19